<template>
  <div class="q-pa-md">
    <q-table
      style="height: 400px"
      ref="tableRef"
      :rows="rows"
      :columns="columns"
      :table-colspan="9"
      row-key="index"
      virtual-scroll
      :virtual-scroll-item-size="48"
      :pagination="pagination"
      :rows-per-page-options="[0]"
      v-model:expanded="expanded"
    >

      <template v-slot:header="props">
        <q-tr :props="props">
          <q-th auto-width />

          <q-th
            v-for="col in props.cols"
            :key="col.name"
            :props="props"
          >
            {{ col.label }}
          </q-th>
        </q-tr>
      </template>

      <template v-slot:body="props">
        <q-tr :props="props" >
          <q-td auto-width>
            <q-toggle v-model="props.expand" checked-icon="add" unchecked-icon="remove" />
          </q-td>

          <q-td
            v-for="col in props.cols"
            :key="col.name"
            :props="props"
          >
            {{ col.value }}
          </q-td>
        </q-tr>
        <q-tr v-show="props.expand" :props="props" class="q-virtual-scroll--with-prev">
          <q-td/>
          <q-td :props="props">
            {{ props.rows.name }}
          </q-td>
          <q-td :props="props">
            {{ props.rows.age}}
          </q-td>
          <q-td :props="props">
            {{ props.rows.hobbies }}
          </q-td>
        </q-tr>
      </template>

    </q-table>
  </div>
</template>

<script>
import { ref, onMounted } from 'vue'
import axios from "axios";

const columns = [
  {
    name: 'name',
    required: true,
    label: 'NAME',
    align: 'left',
    field: row => row.name,
    format: val => `${val}`,
    sortable: true
  },
  { name: 'age', align: 'center', label: 'AGE', field: 'age'},
  { name: 'hobbies', align: 'left', label: 'HOBBIES', field: 'hobbies'}
]

/* const seed = []

const seedSize = seed.length */

/* let rows = []
for (let i = 0; i < 1000; i++) {
  rows = rows.concat(seed.map((r, j) => ({ ...r, index: i * seedSize + j + 1 })))
}

const initialExpanded = rows.filter((r, i) => i % 3 === 0).map(r => r.index)
 */
export default {

  data() {
    return {
      rows: [],
      length: 0
    };
  },

  mounted() {
    axios
      .get("http://demo2725834.mockable.io/api/v1/list")
      .then(response => {
        this.rows = response.data.data
        this.length = this.rows.length
        console.log(this.rows);
        console.log(this.length);
        });
  },

  setup () {
    const tableRef = ref(null)

    onMounted(() => {
      tableRef.value.scrollTo(5000)
    })

    return {
      tableRef,

      /* expanded: ref(initialExpanded), */
      columns,

      pagination: {
        rowsPerPage: 0
      }
    }
  }
}
</script>

