<template>
  <div class="q-pa-md">
    <q-table title="" :rows="list" :columns="columns" row-key="name">
      <template v-slot:header="props">
        <q-tr :props="props">
          <q-th v-for="col in props.cols" :key="col.name" :props="props">
            {{ col.label }}
          </q-th>
        </q-tr>
      </template>

      <template v-slot:body="props">
        <RowTable
          :name="props.row.name"
          :age="props.row.age"
          :hobbies="props.row.hobbies"
          :squard="props.row.squard"
          :expand="props.row.squard && props.row.squard.length > 0"
          :parent="{ isExpand: true, parent: null }"
        >
        </RowTable>
      </template>
    </q-table>
  </div>
</template>

<script>
import { defineComponent } from "vue";
import RowTable from "components/RowTable.vue";

const columns = [
  { name: "name", align: "left", label: "Name", field: "name" },
  { name: "age", align: "left", label: "AGE", field: "age" },
  { name: "hobbies", align: "left", label: "HOBBIES", field: "hobbies" },
];

export default defineComponent({
  name: "IndexPage",
  components: {
    RowTable,
  },
  computed: {
    list() {
      return this.$store.state.TableStore.list;
    },
  },
  mounted() {
    this.$store.dispatch("getList");
  },
  setup() {
    return {
      columns,
    };
  },
});
</script>
