<template>
  <q-tr v-show="parent.isExpand">
    <q-td :style="squardNamePadding">
      {{ name }}
      <div>
        <q-btn
          size="sm"
          color="accent"
          dense
          v-show="squard"
          @click="hideSquards"
          :icon="isExpand ? 'remove' : 'add'"
        >
          Squard
        </q-btn>
      </div>
    </q-td>
    <q-td>
      {{ age }}
    </q-td>
    <q-td>
      {{ hobbies }}
    </q-td>
  </q-tr>

  <RowTable
    v-for="s in squard"
    v-bind="s"
    :key="s.name"
    :name="s.name"
    :age="s.age"
    :hobbies="s.hobbies"
    :squard="s.squard"
    :expand="true"
    :deep="deep + 1"
    :parent="this"
    ref="squards"
  ></RowTable>
</template>

<script>
import { defineComponent } from "vue";

export default defineComponent({
  name: "RowTable",
  props: {
    name: {
      type: String,
      required: true,
    },
    age: {
      type: Number,
      default: null,
    },

    hobbies: {
      type: String,
      default: "",
    },

    squard: {
      type: Array,
      default: null,
    },
    expand: {
      type: Boolean,
      default: false,
    },
    deep: {
      type: Number,
      default: 0,
    },
    parent: {
      type: Object,
    },
  },
  data() {
    return {
      isExpand: this.expand,
    };
  },
  computed: {
    squardNamePadding() {
      return {
        "padding-left": `${20 + this.deep * 10}px`,
      };
    },
  },
  methods: {
    hideSquards: function () {
      // /console.log(this.$refs.squards);
      var child = this.$refs.squards;
      this.isExpand = !this.isExpand;
      for (var c in child) {
        child[c].hideSquards();
        child[c].isExpand = false;
      }
    },
  },
});
</script>
